<!DOCTYPE html>
<html>
    <head>
        <title>
            main page
        </title>
        <h1> My project main page</h1>
        <h2>Welcome, {{user_id}}!</h2>
    </head>
    <body>
        <button type="button" onclick="location.href='http://localhost:5000/logout'">로그아웃</button></br>
        <div style="border: 1px solid gold; float: left; text-align:center; width: 10%"><a href = /main/{{user_id}}/free>자유게시판</a></div>
        <div style="border: 1px solid gold; float: left; text-align:center; width: 10%"><a href = /main/{{user_id}}/cookie>쿠키런게시판</a></div>
    </body>
</html>