{% extends 'show_board.html' %}
{% block contents %}
<form method = "POST" action = '/main/{{user_id}}/{{board_type}}/fix_post/{{post_num}}'>
    <label for="Title">제목 : </label></br>
    <input type = "text" placeholder = "제목" name = "Title" value = "{{data[1]}}" required> </br>
    <label for="Content">작성할 내용 : </label></br>
    <input type = "text" placeholder = "자유롭게 작성하세요!" name = "Content" style="width:300px;height:200px;" value = "{{data[4]}}" required> </br>
    <button type = "submit">수정하기</button>
</form>
{% endblock %}