<!DOCTYPE html>
<html>
<head>
    <title>
        Sign Up Page
    </title>
</head>
<body>
    <form method = "POST" action = '/add_account'>
        <label for="ID">ID : </label>
        <input type = "text" placeholder = "ID" name = "ID" required> </br>
        <label for="PW">PW : </label>
        <input type = "password" placeholder = "Password" name = "PW" required> </br>
        <label for="PWcheck">PW check : </label>
        <input type = "password" placeholder="Password check" name="PWcheck" required> </br>
        <button type = "submit">Sign Up</button>
    </form>
</br><a href = '/'>메인메뉴로</a>
</body>
</html>